<div id="navig">
  <hr style="clear:both"/>
  <div id="category_nav">
    <%= link_to "Opera", root_url -%> |
    <%= link_to "Entries", entries_url -%> |
    <%= link_to "Editions", editions_url -%> |
    <%= link_to "Tropes", tropes_url -%> |
    <%= link_to "Flags", flags_url -%>
  </div>
  <hr style="clear:both"/>
</div>
